@font-face {
    font-family: 'Icomoon';
    src: url('/fonts/icomoon.eot?iel5dp' );
    src: url('/fonts/icomoon.eot?#iefixiel5dp' ) format( 'embedded-opentype' ),
    url( '/fonts/icomoon.woff?iel5dp' ) format( 'woff' ),
    url( '/fonts/icomoon.ttf?iel5dp' ) format( 'truetype' ),
    url( '/fonts/icomoon.svg?iel5dp#icomoon' ) format( 'svg' );
    font-weight: normal;
    font-style: normal;
}